.EU{
    background-color: aquamarine;
    text-align: center;
    border:1px; 
    padding: 10px;
    /* padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px; */
    border-radius:10px;
  

}
.eu{
    text-align: center;
}
.th{
    background-color: rgb(175, 175, 18);
}th,td{
    border:inset; /*outset,solid,dotted,dashed,double */
    /* border-color: rgb(7, 63, 63) ; */
}
